[2021-05-22 14:04] fllaa opened #1 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-22 14:07] Maitreya29 commented on #1
Hey, thank you for applying. Trees look alright. I wanted to ask, how long you have been building NezukoOS for?

[2021-05-22 14:10] fllaa commented on #1
I'vr been building NezukoOS since 1.2 version, and I was released Unofficial Build on here https://t.me/Realme5Pro_Downloads/1304

[2021-05-22 17:21] fiendvalak opened #2 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-22 17:21] Maitreya29 commented on #1
Ah alright, I see it has been close to a month since your first build. May I ask what group were you providing support for the rom in?

[2021-05-22 17:24] Maitreya29 commented on #2
Device tree sources not linked properly. Second, the reason behind prebuilt kernel doesn't make sense. I don't see why users would want a prebuilt kernel. Please redo issue later after fixing.

[2021-05-22 17:24] #2 closed, assigned to Maitreya29

[2021-05-22 19:25] fllaa commented on #1
Did'nt created yet, I don't have any personal group. I'll create a new group NezukoOS specific for this device

[2021-05-22 19:27] Maitreya29 commented on #1
Well I really need to see how you talk to users and how their feedback was on your build.

[2021-05-22 22:56] fllaa commented on #1
Okay I see, what if I Release 1.3 Unofficial build first with that support group, then i'll taking official for next release?

[2021-05-23 04:16] Maitreya29 commented on #1
Sure, if you wish you could apply mid cycle and release 1.3 too.

[2021-05-23 05:58] fiendvalak opened #3 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

``
dt isnt public due to dcma issues
https://github.com/fiendvalak/android_ealme_sdm710
[code]
Fluid os
los-fe
[code]
None
[code]
6 months
[code]
I read everything properly and I violate none of the requirements.
[code]
Enforcing.
[code]
No.
[code]
@Fiend_exe
[code]

[2021-05-23 08:33] #3 closed, assigned to Maitreya29

[2021-05-26 13:14] Arya1230 opened #4 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]
## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you viol

[2021-05-26 13:46] Maitreya29 commented on #4
Hey there! I noticed some issues with  your trees. Why is your bringup done in 3 commits titled [Bring Up](https://github.com/Arya1230/device_xiaomi_jasmine_sprout/commit/f17b3588b8ad6be10c6e4a90926970cc5296f1b5) [BringUp](https://github.com/Arya1230/device_xiaomi_jasmine_sprout/commit/9c23afcfd97e0a9ef490ef9d38627f0602c5e1aa) and [Bring Up](https://github.com/Arya1230/device_xiaomi_jasmine_sprout

[2021-05-26 13:51] Arya1230 commented on #4
I am sorry for that 😓. And I Will Fix Them .
I am new to in this git so having some issues

[2021-05-26 13:57] Maitreya29 commented on #1
I am closing this for now, feel free to reopen an issue later.

[2021-05-26 18:09] Arya1230 commented on #4
Sir Can You Check Now?I Have Cleared The Mess

[2021-05-26 18:28] Maitreya29 commented on #4
I just checked and good job on fixing the mess. However I'm worried about how good a builder you are, I'm not questioning your ability but your trees don't have much work done by you. How can you prove that you can understand and read logs? How can you prove that if one day you're the only dev left in the device's community you could carry it forward?

[2021-05-26 18:42] Arya1230 commented on #4
-> I Have Less Work In This Trees Cause I Am New To Sdm660 community and Our Devs Already Made The Trees Stable Enough That It Didn't Needed Any Major Changes
-> How Do You Want Me To Prove ? Whatever I am giving an example

If The Log Says This
avc: denied { write } for name="tcp_use_userconfig" dev="proc" ino=116880 scontext=u:r:hal_wifi_default:s0 tcontext=u:object_r:proc_net:s0 tclass=file per

[2021-05-26 21:05] #1 closed, assigned to Maitreya29

[2021-05-26 21:06] Maitreya29 commented on #4
That's just a sepolicy denial? There are even bots that do it...

[2021-05-27 00:03] brunorolak opened #5 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-27 02:16] Arya1230 commented on #4
Give me a issue/log then (I already asked you how do you want me to prove).

[2021-05-28 03:30] #4 closed, assigned to Maitreya29, achyutbadyal

[2021-05-28 08:04] Maitreya29 commented on #5
Hey, thank you for applying. I am confused as to why your trees are a fork? Second, you haven't done much if any changes to them except bringup so we don't know how good a builder you are. Any way you can prove your capabilities?

[2021-05-28 08:23] brunorolak commented on #5
Hello, I bifurcated because I am not the creator of the trees, so as not to be a kang and end up in the git retards I preferred to bifurcate, the creators are a core of the PE and the official mainter of the device, I don't have many skills yet, I am always learning every  day, I'm not an expert yet, but I always try to evolve as much as I can.

[2021-05-28 08:37] Maitreya29 commented on #5
what? it wouldnt be a kang unless you nuke history? that doesn't justify forking it

[2021-05-28 09:21] brunorolak commented on #5
I can unfork if this is a problem, the tree is very stable at all, now I just help Jean to polish the last details, I not a very expert I already told it, but I tried my best to learn the things

[2021-05-28 09:28] Maitreya29 commented on #5
To apply for official, the real main requirement is being good with things. If you pass through this I'd spam you with logs and errors which trouble everyone and see how much you can solve. So, if you really aren't that good _yet_ you could re-apply later. I'd be closing the issue for now. Feel free to re-open.

[2021-05-28 09:28] #5 closed, assigned to Maitreya29, achyutbadyal

[2021-05-28 11:11] Seifood opened #6 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-28 11:31] Maitreya29 commented on #6
Your trees are an absolute mess, [nezuko bringup](https://github.com/Seifood/device_xiaomi_gauguin-1/commit/3f4ed38d90a5f2335409ffe06f46ec1bc0d0ffb3) and [nezuko bringup](https://github.com/Seifood/device_xiaomi_gauguin-1/commit/e4130839f189deebeb8bb4b72d1be7a2b18ac213) neither of these 2 commits are in any way related to bringup, neither should they be titled so, not to forget the git conflict ma

[2021-05-28 12:32] #6 closed, assigned to Maitreya29

[2021-05-30 06:15] arnavpuranik opened #7 "New maintainer"
## Device you want to apply for
Redmi Note 5 Pro - Whyred

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
DerpFest (Official)
Project Fluid (Unofficial as of now)

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]
Enforcing.
[code]
No.
[code]

[2021-05-30 06:17] Maitreya29 commented on #7
Closing due to the issue not being formatted at all. You messed the template up.

[2021-05-30 06:17] #7 closed, assigned to Maitreya29, achyutbadyal

[2021-05-30 06:21] arnavpuranik opened #8 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-30 07:02] Maitreya29 commented on #8
I checked your trees and you got a branch named [ssos](https://github.com/arnavpuranik/device_xiaomi_whyred/commits/ssos) and from what I see, you have released it too. Why is there no mention of it in the list of ROMs you maintain?

[2021-05-30 07:06] Maitreya29 commented on #8
Also in [this commit](https://github.com/arnavpuranik/vendor_xiaomi_whyred/commit/ba58d541cda4553b40f4e98843bffeb09334dc15#diff-748edc3ed3295403c435b9affa2014ba7494bbd5c5865d5931fbd194e0217294R1) you added `sdm660-common/sdm660-common-vendor.mk` which is **not** being inherited at all by your vendor. Neither are the blob paths in the file correct at all. It is redundant and is a bad showcase of yo

[2021-05-30 07:12] itsshashanksp commented on #8
@Maitreya29 Wow

[2021-05-30 09:12] arnavpuranik commented on #8
Well, cus I won't be doing it regularly

[2021-05-30 09:12] arnavpuranik commented on #8
I'll fix it

[2021-05-30 19:19] deathstroke0903 opened #9 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](requirements.md) and [Maintainer requirements](maintainerreq.md) before applying? What part of those requirements do you vio

[2021-05-30 19:30] Maitreya29 commented on #9
![Screenshot_20210531-005452191](https://user-images.githubusercontent.com/56203318/120117464-ed9ca800-c1aa-11eb-9f72-0342f20eda99.jpg) based on a quick look at your trees you got branches for well over 5 ROMs. Even if you maintain one, that makes you a buildbot. Now, don't be offended by that we have all been at that stage at some point. Vince is one of the devices I own and after a quick look in

[2021-05-30 19:32] deathstroke0903 commented on #9
Yah , I understand I'll work on it thankyou!

[2021-05-30 19:49] Maitreya29 commented on #9
I'd be closing this for now. Hoping that whatever feedback I gave helps you become better than what you already are. Good luck with your future, hoping for you to reapply sometime later.

[2021-05-30 19:49] #9 closed, assigned to Maitreya29, achyutbadyal

[2021-06-01 05:47] naeem000 opened #10 "New maintainer"
## Device you want to apply for

 Xiaomi Mi A2 (jasmine_sprout)

## Device tree sources

https://github.com/naeem000/device_xiaomi_jasmine_sprout_4.19.git
https://github.com/naeem000/device_xiaomi_sdm660-common_4.19.git
https://github.com/naeem000/vendor_xiaomi_sdm660-common_4.19.git
https://github.com/naeem000/vendor_xiaomi_wayne-common_4.19.git

## Other ROM's you maintain officially or unoffici

[2021-06-01 06:00] achyutbadyal commented on #10
You have 5 commits of bringup on your device tree. Which really makes me doubt your git skills.

In your common tree, https://github.com/naeem000/device_xiaomi_sdm660-common_4.19/commit/41f4fbc852adaee8fa83c07e441c47dd7613171f has only redefined what was first defined in https://github.com/naeem000/device_xiaomi_sdm660-common_4.19/commit/1d6e37586e1e19d99bf99a018c1ac4d5265dbd7d.

Also, you have no

[2021-06-01 06:01] sherifrahim commented on #10
@AtomicXZ that was fast
he would be like wtf

[2021-06-01 06:09] #10 closed, assigned to Maitreya29, achyutbadyal

[2021-06-01 06:51] naeem000 commented on #10
LOL

[2021-06-01 07:25] naeem000 commented on #10
Now Check Sir

[2021-06-01 07:34] Maitreya29 commented on #10
We already saw your skillset with those commits. We'd hold on for now since that's the first impression you gave to us. Consider re-applying later but I'd be rejecting this for now on the following basis:
1. Lack of contribution from you, that's how we check how good someone is.
2. Bad initial impression.
Reconsider applying a few weeks later.

[2021-06-01 10:33] abhixv opened #11 "New maintainer Begonia"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/N

[2021-06-01 10:37] AtomicXZ commented on #11
@abhixv

[2021-06-01 10:56] achyutbadyal commented on #11
You don’t seem to have any bringup on your trees

Also, why not update FP directly? [here](https://github.com/abhixv/device_redmi_begonia/commit/a3261d0ae4e96ce004823b2c0beaa9bb1fe9f892) and [here](https://github.com/abhixv/device_redmi_begonia/commit/20381ac2fe8dc70dd9897607009fd324ae2e0224)

Seems like you can’t fix conflicts cause you added config which were not meant for [this](https://github.

[2021-06-01 11:47] abhixv commented on #11
Added nezuko bringup and fixed that commit.

[2021-06-01 11:48] achyutbadyal commented on #11
You nuked it.

[2021-06-01 11:49] abhixv commented on #11
Yes nuked that commit.

[2021-06-01 11:50] Maitreya29 commented on #11
That isn't fixing.

The main point were your bad conflict resolution skills. Rather than fixing your pick you decided to just nuke it.

[2021-06-01 11:59] abhixv commented on #11
fixed :
https://github.com/abhixv/device_redmi_begonia/commit/ed8a818ece95a7798b5e60b969d2aa718cd7eff3

[2021-06-01 12:22] Maitreya29 commented on #11
Do you care to explain why you linked kernel sources from another rom's org despite having done no changes to original sources? Either push to your own profile or link it from it's original source.

[2021-06-01 12:29] abhixv commented on #11
Original source : [Kernel](https://github.com/AgentFabulous/begonia/commits/android-11.0)

[2021-06-01 14:31] Maitreya29 commented on #8
Closing this due to inactivity.

[2021-06-01 14:31] #8 closed, assigned to Maitreya29, achyutbadyal

[2021-06-02 11:48] achyutbadyal commented on #11
Not linking the kernel source wasn't exactly his point. The state of your "initial" application was.

The state of your initial trees and form do not seem up to the mark. I apologise but I don't think that you are fit for being an official maintainer.

So, I'd be closing this for now. Good luck with your future, feel free to reapply later if you wish to do so.

[2021-06-02 11:48] #11 closed, assigned to Maitreya29, achyutbadyal

[2021-06-02 14:52] ahmedtohamy1 opened #12 "apollo's New maintainer"
## Device you want to apply for
[code]
https://github.com/ahmedtohamy1/android_device_xiaomi_sm8250-common
https://github.com/Official-Ayrton990/android_kernel_xiaomi_sm8250

[code]
Insert here
[code]
evo (official)
[code]
some kernel related issues (gonna fix soon)
[code]
a Week
[code]
I read everything properly and I violate none of the requirements.
[code]
Enforcing.
[code]
No.
[code]
No.
[code

[2021-06-02 14:57] achyutbadyal commented on #12
Closing because you messed the template up.

[2021-06-02 14:57] #12 closed, assigned to Maitreya29, achyutbadyal

[2021-06-02 15:03] ahmedtohamy1 opened #13 "New maintainer?"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/N

[2021-06-02 15:20] achyutbadyal commented on #13
You violate the unofficial builds rule. (Mentioned as rule 3 [here](https://github.com/NezukoOS/official_devices/blob/eleven/maintainerreq.md))
So, closing this issue.

[2021-06-02 15:20] #13 closed, assigned to Maitreya29, achyutbadyal

[2021-06-03 14:57] mithuprince opened #14 "New maintainer"
## Device you want to apply for sakura(redmi 6pro)
[code]
https://github.com/mithuprince/device_xiaomi_sakura
Https://github.com/user/kernel_brand_codename
https://github.com/mithuprince/device_vendor_sakura
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/requirements.md) and [

[2021-06-03 15:01] mithuprince commented on #14
See and tell that I'm aligibal for this or not ☺️☺️

[2021-06-03 15:04] Maitreya29 commented on #14
You're not eligible. Your build was released before 2 weeks.

[2021-06-03 15:04] #14 closed, assigned to Maitreya29, achyutbadyal

[2021-06-03 15:12] Maitreya29 commented on #14
Before you knock our doors again fix a few things, your release post had official screenshots. Totally different from unofficial, _misleading users today are we?_

Your template is a mess, one of the worst submissions till date. You didn't even fill some areas like your total experience building. Your trees have practically **zero** contribution from you and you didn't even link your kernel source

[2021-06-03 15:15] a9ito commented on #14
@Maitreya29 ye

[2021-06-03 15:23] CloudedQuartz commented on #14
Wao

Https://github.com/user/kernel_brand_codename

nice repo you got there buddy

[2021-06-03 15:23] CoolGuyMK commented on #14
@CloudedQuartz

[2021-06-05 12:38] ahmedtohamy1 opened #15 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/N

[2021-06-05 12:41] Maitreya29 commented on #15
Closed because incorrect template.

The clause for release platform is missing. Either you removed it yourself or are using the incorrect template. Either way do a new issue.

[2021-06-05 12:41] #15 closed, assigned to Maitreya29, achyutbadyal

[2021-06-05 15:08] InVictusXV opened #16 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-06-05 15:15] achyutbadyal commented on #16
You violate unofficial build rule. So, closing.

[2021-06-05 15:15] #16 closed, assigned to Maitreya29, achyutbadyal

[2021-06-05 17:01] Maitreya29 commented on #16
Despite you violating the rules, I still gave your application a try since you explicity PMed me despite my bio very clearly stating that I am **not** okay with random dms. And you simply don't seem worth it for the job.

You were [already](https://github.com/InVictusXV/device_xiaomi_vayu/commit/77f201215f3253be5a88c952c317bfb035a59d09#diff-247ee86229a709a6e2eedfc1d3c4a557825aee073e20b0112ab76f4ca

[2021-06-05 23:13] MLZ94 commented on #16
@InVictusXV This guy

[2021-06-05 23:14] MLZ94 commented on #16
@InVictusXV Btw dont use official screenshots for an unofficial release since UI is compeletely different

[2021-06-07 15:27] RemuruSama opened #17 "° _ °"

[2021-06-07 15:56] Maitreya29 commented on #17
I didn't even have to check your trees to reject you, that's how bad this application is. But, I did anyways.

1. You link me a download link to your rom in the name of release platform, which was built using a CI which you can't use to ship official builds.
2. When asked about other roms you maintain you just said ```unofficially``` excuse me but what does that mean?
3. You say you read everythin

[2021-06-07 15:56] #17 closed, assigned to Maitreya29, achyutbadyal

[2021-06-07 16:03] SahilSonar commented on #17
Why bully kids sar

[2021-06-07 16:04] sarthakroy2002 commented on #17
How to use Double tap "two" wake sar... me realme user, I didn't get that Double tap "two" wake sar. Tell the sasta hack sar

Waiting to implement it sar

[2021-06-07 16:09] Abhinavftp commented on #17
हाहाहा इसके लिए मुझे क्षमा करें
Hahaha Apolize me for that
it's a double tap to wake

On Mon, Jun 7, 2021, 9:35 PM Sarthak Roy ***@***.***> wrote:

[2021-06-07 16:14] Abhinavftp commented on #17
I have Google Cloud Platform Server  for  Building official NezukoOS : )

On Mon, Jun 7, 2021, 9:27 PM Maitreya Patni ***@***.***>
wrote:

[2021-06-07 16:18] sarthakroy2002 commented on #17
then why did u send a CI download link..we asked for the telegram or XDA post link

[2021-06-07 16:22] Maitreya29 commented on #17
Your post was a cirrus ci link and [here's solid proof](https://github.com/ROM-builders/temporary/pull/685) that you built it there

[2021-06-07 16:33] Abhinavftp commented on #17
if you needed any proof please message in Telegram

Username :-  @AbhinavVermabesr

On Mon, Jun 7, 2021, 9:52 PM Maitreya Patni ***@***.***>
wrote:

[2021-06-07 16:34] Maitreya29 commented on #17
We dont need any proof. We'd like it if you move on and reapply later though.

[2021-06-07 16:35] Abhinavftp commented on #17
Ok, thanks : )

On Mon, Jun 7, 2021, 10:04 PM Maitreya Patni ***@***.***>
wrote:

[2021-06-08 13:09] Maitreya29 commented on #17
![Screenshot from 2021-06-08 18-35-16](https://user-images.githubusercontent.com/56203318/121190191-6d500400-c888-11eb-9b23-d946b8b70852.png)
Well, since this guy decided to be a dick and clear his form out, here's a screenshot.

WITH BONUS CONTENT

Look at these [trees](https://github.com/Abhinavftp/device_oppo_RMX1805) HAHA ([backup](https://github.com/altorgtohostshit/device_oppo_RMX1805) incas

[2021-06-08 13:12] sherifrahim commented on #17
@Maitreya29 github web lober spotted

[2021-06-08 13:12] achyutbadyal commented on #17
@Maitreya29 You killed him

[2021-06-08 13:18] techyminati commented on #17
NOOOING LMFAO

[2021-06-10 20:16] a9ito commented on #17
Deserved realme kids abuse haha

[2021-06-10 21:50] a9ito opened #18 "New maintainer"
## Device you want to apply for
[code]
https://github.com/a9ito/android_device_xiaomi_miatoll
https://github.com/a9ito/android_vendor_xiaomi_miatoll
https://github.com/a9ito/android_device_xiaomi_sm6250-common
https://github.com/a9ito/android_vendor_xiaomi_sm6250-common
https://github.com/ArrowOS-Devices/android_kernel_xiaomi_sm6250.git
[code]
https://t.me/bitchsagiri
[code]
Project Sakura & Floko

[2021-06-10 22:00] Maitreya29 commented on #18
Closing because borked template and you're a trap who has official already

[2021-06-10 22:00] #18 closed, assigned to Maitreya29, achyutbadyal

[2021-06-10 22:10] a9ito commented on #18
:(

[2021-06-19 19:51] windeqk opened #19 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-06-22 06:39] arnavpuranik opened #20 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-06-24 02:25] arnavpuranik commented on #20
There's a small change, I was approved for Fluid Last night and I got Fluid Maintainership

[2021-06-24 14:21] Maitreya29 commented on #20
Hey there, I am sorry but you do not meet the requirements for official. Lemme explain why.

1. Your trees lack contributions from you, hell you dont have any commits except in DT and even those, I could count on my fingers.
2. Hey, let's be fair. Let's not consider the quantity but the quality of the commits. Guess what? Trash. [This flag](https://github.com/arnavpuranik/device_xiaomi_whyred/comm

[2021-06-24 14:21] #20 closed, assigned to Maitreya29

[2021-06-24 14:22] mkasem06 commented on #20
@Maitreya29 Wow, how much time it took u to type all this?

[2021-06-25 11:02] achyutbadyal commented on #19
You have tons of untrusted app sepolicies for no reason. ([here](https://github.com/windeqk/old_device_xiaomi_surya/blob/old-nezuko-11.0/sepolicy/private/untrusted_app_27.te) and [here](https://github.com/windeqk/old_device_xiaomi_surya/blob/old-nezuko-11.0/sepolicy/private/untrusted_app_29.te))

You added back libcamservice.so with [this commit](https://github.com/windeqk/old_device_xiaomi_surya/

[2021-06-25 11:31] #19 closed, assigned to Maitreya29, achyutbadyal

[2021-06-30 11:01] whyredfire opened #21 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/requirements.md) and [Maintainer requirements](https://github.com/N

[2021-06-30 18:46] #21 closed, assigned to Maitreya29

[2021-07-03 06:39] naeem000 opened #22 "New maintainer"
## Device you want to apply for

Xiaomi Mi A2 (jasmine_sprout)

## Device tree sources

https://github.com/naeem000/device_xiaomi_jasmine_sprout_4.19
https://github.com/naeem000/device_xiaomi_sdm660-common_4.19
https://github.com/naeem000/vendor_xiaomi_sdm660-common_4.19
https://github.com/naeem000/kernel_xiaomi_sdm660

## Other ROM's you maintain officially or unofficially

Pixel Extended officia

[2021-07-03 13:30] MyHalcyon opened #23 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-07-03 13:35] MyHalcyon commented on #23
😅

[2021-07-03 13:37] achyutbadyal commented on #23
Did you even read the guidelines?

[2021-07-03 13:38] flashokiller commented on #23
Yes

[2021-07-03 13:43] MyHalcyon commented on #23
Yes bro

[2021-07-03 13:43] Maitreya29 commented on #23
I severely doubt that

[2021-07-03 13:44] MyHalcyon commented on #23
Bro I hv maded the nezuko os for redmi 7a on 5th June

[2021-07-03 13:45] MyHalcyon commented on #23
Also I added worng date 😥

[2021-07-03 13:45] MyHalcyon commented on #23
I started it on 2/03/2021

[2021-07-03 13:46] Maitreya29 commented on #23
First of all stop spamming, send me the link of the platform where you released it.

[2021-07-03 13:48] MyHalcyon commented on #23
https://t.me/PineOfficial/187598

[2021-07-03 14:03] Maitreya29 commented on #23
I'm gonna be quick with my answer, this is final for now.

1. Your trees are a joke
    1a: You have 0 contributions.
    1b: You changed flags that don't even exist in your
           bringup.

2. Your form was an absolute joke, you couldn't even fill it properly. I can see at least 2 fields with incorrect answers.

3. You continuously lied when asked basic questions, you released less than a wee

[2021-07-03 14:03] #23 closed, assigned to Maitreya29

[2021-07-03 14:04] whyredfire commented on #23
@Maitreya29 pro nigg

[2021-07-03 14:21] sysxda commented on #22
Approved 👌👌👌💎💎💎🥳🥳🥳🥳🥳🙄🤗🤗🤗🤭🤭🤭🤭

[2021-07-03 14:23] achyutbadyal opened #24 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/blob/eleven/

[2021-07-03 14:23] Maitreya29 commented on #24
Pubg

[2021-07-03 14:23] #24 closed, assigned to Maitreya29

[2021-07-03 14:24] achyutbadyal commented on #24
NOOOOOOOOO

[2021-07-03 14:40] naeem000 commented on #22
Thnx

[2021-07-03 14:43] Maitreya29 commented on #22
Your trees are so bad, I don't even wish to spend time explaining them properly.

Full of fake flags ABSOLUTELY TRASH commits. AND INCORRECT STUFF. THESE TREES ARE PROBABLY THE WORST I'VE SEEN.

REJECTED.

[2021-07-03 14:43] #22 closed, assigned to Maitreya29

[2021-07-03 14:44] Maitreya29 commented on #22
Not to forget this guy had the audacity to PM and when told that I'm not comfortable with it, he deleted the whole history.

That was already a bad impression and now I see these trees.

No thanks.

[2021-07-03 14:49] naeem000 commented on #22
I Have Lot's Of Chat Sir You Said Apply Site That Why I Delete Chat It's Not Big Deal

[2021-07-03 14:50] CoolGuyMK commented on #22
@naeem000 Calm down guys
Nazuka OS is gey anyways

[2021-07-03 14:57] naeem000 commented on #22
I Am Saying Anything You Thinking I Am Rong
So I Just Say Thanku

[2021-07-03 14:58] Maitreya29 commented on #22
Okay, that's enough Mr. "Rong.'

[2021-07-03 14:59] naeem000 commented on #22
![Screenshot_20210703-202814_Chrome](https://user-images.githubusercontent.com/72666318/124358282-37126400-dc3d-11eb-89b7-45c1cac3e1d2.png)
Who This Guy And Why He Saying First Approve

[2021-07-03 15:01] Fraaxius commented on #22
bruh, this is irony, man.

[2021-07-03 15:06] Maitreya29 commented on #22
I suggest going out of your house and making some friends so you understand basic human things like irony and sarcasm.

Now stop spamming.

[2021-07-14 14:20] brunorolak opened #25 "I'm back"
hi admeme o/
I'm here to apply to be official once again
in the last two months keeping nezuko and making some other unofficial roms for my device, i have learned a lot about git, i plan to keep this device with me for a long time, although i want to buy a new one and even if i buy i will not get rid of this , the device community is not huge like a RedMi 5 or a Poco F1 but we have some members wh

[2021-07-14 14:39] Maitreya29 commented on #25
Please reapply with a properly filled form. This sadly isn't acceptable.

[2021-07-14 14:39] #25 closed, assigned to nobody

[2021-07-14 17:11] brunorolak opened #26 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-07-19 04:08] Firmank123 opened #27 "Apply me"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-07-19 04:09] Maitreya29 commented on #27
There isn't even a Nez branch on your trees. Straight rejection.

[2021-07-19 04:09] #27 closed, assigned to Maitreya29, achyutbadyal

[2021-07-19 04:11] arnavpuranik commented on #27
@Maitreya29 Lmao

[2021-07-19 04:13] Firmank123 commented on #27
K, im on class rn

[2021-07-19 04:14] arnavpuranik commented on #27
@Chuck439 K these two things aren't even related and you filled your form while in a class, so don't give such bs kthnxbye

[2021-07-19 04:20] Maitreya29 commented on #27
Then don't apply smartass, I had to check this application midclass just to see you didn't even push trees.

[2021-07-19 04:41] Firmank123 opened #28 "Try again"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-07-19 08:02] sarthakroy2002 commented on #27
https://github.com/Chuck439/android_device_xiaomi_olives/commit/71a14a88f79ae4c4c20095b4241282269868ef55 LMAOOOO WHAT THE F IS THIS 🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣🤣

[2021-07-19 08:03] a9ito commented on #27
Hell yeah Gore bringup 😎😎😎😎😎😎😎😎😎👍👍👍👍👍👍

[2021-07-19 08:05] sarthakroy2002 commented on #27
Proooing bringup

[2021-07-19 08:06] a9ito commented on #27
Any bringups from ssus = gore

[2021-07-19 08:20] sarthakroy2002 commented on #27
@a9ito Reverse sor... Any bringup with cherish os name = gore

[2021-07-19 08:38] arnavpuranik commented on #27
@sarthakroy2002 Eh and why the heck did he change Copyright Headers

[2021-07-19 08:39] sarthakroy2002 commented on #27
Coz whynot

[2021-07-19 10:01] Firmank123 commented on #27
Not necessary?

[2021-07-19 10:02] jashvakharia commented on #27
Bruh

[2021-07-19 10:03] arnavpuranik commented on #27
@Chuck439 Tf are you dumb? That's like literally changing ownership of someone's work!

[2021-07-19 10:08] Maitreya29 commented on #27
Rejected. Closed. No further discussions.

[2021-07-19 10:10] Maitreya29 commented on #26
Trees not upto the mark at the moment, reconsider applying later please. Especially the bringup changes copyright headers.

[2021-07-19 10:10] #26 closed, assigned to Maitreya29, achyutbadyal

[2021-07-19 10:10] Maitreya29 commented on #28
Commit history isn't up to the mark. Sorry.

[2021-07-19 10:10] #28 closed, assigned to Maitreya29, achyutbadyal

[2021-07-19 11:08] brunorolak commented on #26
That doesn't sound like a reason, I won't bother anymore, I was really excited this time to bring the system I liked the most lately to my potato device, but okay, I see.  See you

[2021-07-19 11:09] Maitreya29 commented on #26
"Reason" So you take someone's work, change their copyrights and ask us to be all happy and joyful with you?

[2021-07-19 11:11] arnavpuranik commented on #26
Changing copyright headers = Equivalent to Kang

[2021-07-19 11:12] brunorolak commented on #26
Dude, I was cleaning the tree these days ago, the creator of the tree is a great friend, as I said it didn't sound like a real reason, but that's ok, as I said I won't bother anymore admeme

[2021-07-19 11:15] brunorolak commented on #26
Kang is clear all history of commits and say this is mine, I don't make it, to restore is simple you can see I changed to nezuko in a certain time, but how I use those branch to all thing I just clean it
You can see it here https://github.com/brunorolak/device_motorola_ali/commit/ac61e0783c34afb1d12e2a4c7ed3e501a34d3df0

[2021-07-19 11:16] Maitreya29 commented on #26
You're using [inexistent](https://github.com/brunorolak/device_motorola_ali/commit/ada6bb23aab24f0ee3eb832de1cd1aacd33e9ad4#diff-532cfe6eeead36a824185b0ec197186f7aea6baa70f8eddf63ec8292a6b0a584R34) props, and [multiple](https://github.com/brunorolak/device_motorola_ali/commit/ada6bb23aab24f0ee3eb832de1cd1aacd33e9ad4#diff-532cfe6eeead36a824185b0ec197186f7aea6baa70f8eddf63ec8292a6b0a584R32) of them

[2021-07-19 11:19] brunorolak commented on #26
This is the admeme what I like <insert the Boko no pico gift here>

Ok time to rebase again

[2021-07-19 11:32] brunorolak commented on #26
okay, somo of these props is from 1.3 what work to send ppl to the jean donnate pag, what make the tree i pick it on official devices, and face unlock, i tell i maint other roms in unofficial, and they need it, is a pain on ass to add.

[2021-07-19 16:01] brunorolak commented on #26
rebased, have something wrong now?
and I need [these](https://github.com/brunorolak/device_motorola_ali/commit/a4f6bd8c1dd675e4166f1ca6b6e4c661de531d06) because if change all board to 8996 the sound crashs

[2021-07-20 04:20] Maitreya29 commented on #26
Check your telegram PMs.

[2021-07-20 11:48] naeem000 opened #29 "New maintainer"
Device you want to apply for
Xiaomi Mi A2 (jasmine_sprout)

Device tree sources
https://github.com/naeem000/device_xiaomi_jasmine_sprout.git
https://github.com/naeem000/device_xiaomi_sdm660-common.git
https://github.com/naeem000/device_xiaomi_wayne-common.git
https://github.com/naeem000/vendor_xiaomi_sdm660-common.git
https://github.com/naeem000/vendor_xiaomi_wayne-common.git
https://github.com/na

[2021-07-20 11:54] Maitreya29 commented on #29
Your maintainership form is messed up, one of your trees doesn't even have a proper history with authorship and god knows why you are adding inexistent flags for live walls and maintainer name. [We DONT ship live walls,](https://gitlab.com/Maitreya29/vendor_gapps/-/commit/a58c7954321170139c36dd6d8519b45c6e05ed9a) neither is there any place where that maintainer flag is used.

Sorry, I can't accept

[2021-07-20 11:54] #29 closed, assigned to Maitreya29, achyutbadyal

[2021-07-22 15:05] ahmedtohamy1 opened #30 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-07-22 15:10] escawet-esc commented on #30
Approved

[2021-07-22 15:21] achyutbadyal commented on #30
Closed because you didn’t follow the unofficial build release time guideline.

It states that you need to have it released for atleast 2 weeks, and yours is released today only.

[2021-07-22 15:21] #30 closed, assigned to Maitreya29, achyutbadyal

[2021-07-28 07:39] omdouxx9951 opened #31 "New maintainer"
## Device you want to apply for
[code]
https://github.com/omdouxx9951/android_device_xiaomi_violet
https://github.com/omdouxx9951/android_kernel_xiaomi_violet
https://github.com/omdouxx9951/android_vendor_xiaomi_violet
[code]
https://t.me/nezukoos_violet/1886
[code]
Official:  https://t.me/bliss_violet  , https://t.me/Lineageosrn7pro

[code]
None
[code]
Months
[code]
I read everything properly and

[2021-07-28 07:40] shashank1436 commented on #31
@omdouxx9951

[2021-07-28 07:45] Maitreya29 commented on #31
1. Fucked up template
2. Your build was released yesterday
3. Previous point clearly means you didn't read the requirements and LIED when you said you read everything.

REJECTED.

[2021-07-28 07:45] #31 closed, assigned to Maitreya29, achyutbadyal

[2021-07-28 07:46] shashank1436 commented on #31
@Maitreya29

[2021-07-28 07:52] Maitreya29 commented on #31
Also your DT is 404

Learn to submit a form properly.

[2021-07-28 07:53] omdouxx9951 commented on #31
Bro ik I didn't read but I already know about the terms and conditions.

On Wed, 28 Jul 2021, 1:15 pm Maitreya Patni, ***@***.***>
wrote:

[2021-07-28 07:54] Maitreya29 commented on #31
WDYM YOU ALREADY KNOW, IF YOU KNOW THEM THEN FOLLOW THEM

[2021-07-28 07:54] arnavpuranik commented on #31
@omdouxx9951 How can you even Know T&C without reading?

[2021-07-28 07:56] omdouxx9951 commented on #31
Cuz I already maintain one official rom sir.

On Wed, 28 Jul 2021, 1:24 pm Arnav Puranik, ***@***.***>
wrote:

[2021-07-28 07:57] arnavpuranik commented on #31
But that doesn't mean that it matches T&C with every other ROM

[2021-07-28 07:59] omdouxx9951 commented on #31
I will apply for it again properly and read those conditions ok sir?

On Wed, 28 Jul 2021, 1:27 pm Arnav Puranik, ***@***.***>
wrote:

[2021-08-07 05:36] AshutoshSundresh opened #32 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-07 05:57] Maitreya29 commented on #32
Accepted, just that you have to release builds with unofficial tag and in your own channel. Remarkable application.

[2021-08-07 05:57] #32 closed, assigned to Maitreya29, achyutbadyal

[2021-08-09 13:24] naeem000 opened #33 "New maintainer"
Device you want to apply for
Xiaomi Mi A2 (jasmine_sprout)

Device tree sources
https://github.com/naeem000/device_xiaomi_jasmine_sprout.git -b aosp
https://github.com/naeem000/device_xiaomi_sdm660-common.git -b aosp
https://github.com/naeem000/vendor_xiaomi_sdm660-common.git -b aosp

Link to the platform where you have released your unofficial build
I didn't release, it's a personal build

Other

[2021-08-09 13:30] Maitreya29 commented on #33
Terrible bringup, useless flags, lack of contributions and you didn't even release build. What do you want official for if you haven't even released your build or plan to do so? You're saying you follow guidelines while breaking them.

Rejected.

[2021-08-09 13:30] #33 closed, assigned to Maitreya29, achyutbadyal

[2021-08-11 09:39] naeem000 commented on #33
https://t.me/MiA2News/7568

[2021-08-11 10:12] Maitreya29 commented on #33
Guidelines say it needs to be released 2 weeks prior. Sorry.

[2021-08-11 10:47] naeem000 commented on #33
i cant writing any in your group

[2021-08-12 17:18] ItoRenz opened #34 "Application to became an official maintainer Redmi 4A (rolex) and Redmi 5A (riva) using unified tree"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-12 17:35] #34 closed, assigned to Maitreya29, achyutbadyal

[2021-08-12 19:42] ItoRenz opened #35 "Application to become an official maintainer for Redmi 4A and Redmi 5A using a unified tree"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-13 03:54] Maitreya29 commented on #35
Your bringup was better than others, no useless defunct flags however some of your commits need authorship.

Also, we only let maintainers do 3 ROMs including ours and you fall out of their category since you're already doing 3. This included would be 4.

[2021-08-13 03:59] ItoRenz commented on #35
That other rom is unofficial and for resurrection remix I build it only for test device tree And for commits I will give authorship

[2021-08-13 04:04] Maitreya29 commented on #35
official or unofficial it doesnt matter.

[2021-08-13 04:07] ItoRenz commented on #35
Yes,that right sir. I only focused to build nezuko and sakura, I will add the authorship for my commits first

[2021-08-13 08:50] ItoRenz commented on #35
I have corrected my commit, you can check it sir
https://github.com/ItoRenz/device_xiaomi_rolex

[2021-08-13 08:59] Maitreya29 commented on #35
they look the same

no authorship for those props

[2021-08-13 09:02] ItoRenz commented on #35
Ah authorship for tweak management ram?

[2021-08-13 09:58] Maitreya29 commented on #35
The fact that you know about it and stuff is messed up, you should always author. There are also not enough contributions however as a beginner you're much better than some of the people applying here even with almost a year of experience. However I'd still say no for now. Please reapply later, this isn't exactly a rejection just a request to re-apply after sometime.

[2021-08-13 09:58] #35 closed, assigned to Maitreya29, achyutbadyal

[2021-08-14 15:19] ItoRenz opened #36 "Re-register to become a maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-14 15:23] Maitreya29 commented on #36
Original: https://github.com/NaissAA/android_device_realme_RMX1821/commit/bd23b6e2551e554bcc722b47847bb4a13b8a3e5e, Kang: https://github.com/ItoRenz/device_xiaomi_rolex/commit/9b9b0944534058ff65810e026e3b66fa8d621478

Also you have lineage sdk overlays.You also deleted all the comments on https://github.com/ProjectRadiant/official_devices/issues/34 where you were asked to reapply after a few weeks

[2021-08-14 15:23] #36 closed, assigned to Maitreya29, achyutbadyal

[2021-08-14 15:29] ItoRenz commented on #36
I registered on #35 , #34 I closed because its wrong and for fix screen recorder I not kang that

[2021-08-21 13:58] rxri opened #37 "(maintainership): Lavender form request"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-21 14:05] Maitreya29 commented on #37
Everything looks good, things need small adjustments however.

https://github.com/ririxichan/device_xiaomi_lavender/commit/1d0c38b58afce1685a22b7dab2d8566dde2e6d3d#diff-247ee86229a709a6e2eedfc1d3c4a557825aee073e20b0112ab76f4ca8e4bc4eR107 you'd probably want to change this flag or else you'd end up with GCam on your vanilla build.

As for https://github.com/ririxichan/vendor_xiaomi_sdm660-common/co

[2021-08-21 14:13] rxri commented on #37
Hi,

I'm aware of this, didn't change it yet but I have in plans to make separate branch for radiant with this change. This has been delayed because of other stuff that I have to do in meantime.

For display hals I'm using AOSP ones from https://github.com/AOSP-11/hardware_qcom-caf_display_msm8998. They have been tested and they work perfectly.

[2021-08-21 14:17] Maitreya29 commented on #37
Everything looks good, will get back to you with a final reply in a short while.

[2021-08-21 14:51] ghost opened #38 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-08-21 14:56] Maitreya29 commented on #37
Accepted, please check your telegram.

[2021-08-21 14:56] #37 closed, assigned to Maitreya29, achyutbadyal

[2021-08-21 14:58] Maitreya29 commented on #38
I'm sorry but we already have a maintainer for lavender.

[2021-08-21 14:58] #38 closed, assigned to Maitreya29, achyutbadyal

[2021-08-30 09:52] MLZ94 opened #39 "New maintainer for vayu"
## Device you want to apply for
Poco x3 Pro
Your device name and codename
vayu

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https:

[2021-08-30 15:07] MLZ94 commented on #39
@MLZ94 all links here

[2021-09-02 14:49] przekichane opened #40 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-09-02 14:51] Maitreya29 commented on #40
@ejbtrd Question 1

Are you a real human?

[2021-09-02 14:51] przekichane commented on #40
Yes sir

[2021-09-02 14:52] Maitreya29 commented on #40
@ejbtrd Cap

[2021-09-02 14:55] przekichane commented on #40
@Maitreya29 No sir

[2021-09-02 14:56] Maitreya29 commented on #40
@ejbtrd Question 2, this one is tough.

What comes after 2?

[2021-09-02 14:58] przekichane commented on #40
I guess 3?

[2021-09-02 14:58] przekichane commented on #40
Or maybe 137

[2021-09-02 14:58] Maitreya29 commented on #40
@ejbtrd 137, correct.

[2021-09-02 14:58] Maitreya29 commented on #40
What comes after a, b and c?

[2021-09-02 15:02] przekichane commented on #40
N

[2021-09-02 15:13] Maitreya29 commented on #40
YOOOOO YOU'RE ONTO SHIT

[2021-09-02 15:18] Maitreya29 commented on #40
@ejbtrd Ok Q3, who's project radiant lead?

[2021-09-02 15:19] przekichane commented on #40
Szef (in Polish)

[2021-09-02 15:19] Maitreya29 commented on #40
@ejbtrd Wronf

[2021-09-02 15:19] Maitreya29 commented on #40
@ejbtrd The correct answer is dn (now ask me what's dn)

[2021-09-02 15:20] przekichane commented on #40
No sir, correct

[2021-09-02 15:20] Maitreya29 commented on #40
@ejbtrd Blasphemy

[2021-09-02 15:20] przekichane commented on #40
Ik what's dn tho

[2021-09-02 15:21] Maitreya29 commented on #40
@ejbtrd trees are good but you're rude and don't ask what's dn

This is an irritating situation

[2021-09-02 15:30] geek0609 commented on #40
@Maitreya29 What's that anyway? 🤔

[2021-09-02 15:30] przekichane commented on #40
Okay sir sorry 😔

[2021-09-02 15:31] Maitreya29 commented on #40
Okay I sent invite in pm don't call me sir again or else I 🤤

[2021-09-02 15:31] #40 closed, assigned to Maitreya29, achyutbadyal

[2021-09-07 04:07] Maitreya29 commented on #39
Accepted

[2021-09-07 04:07] #39 closed, assigned to Maitreya29, achyutbadyal

[2021-09-07 04:56] Adi-sdm opened #41 "New maintainer"
## Device you want to apply for
Realme 2

Your device name and codename
RMX1805 REALME 2

## Device tree sources
* Must add kernel and vendor as well
* Authorship should be proper
* Add common trees if applicable
-->
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]
3 months
## Did you properly read [Device stability requirements](https://github.com/NezukoO

[2021-09-07 05:30] Maitreya29 commented on #41
Your trees are messed up, lack of history or proper commits. Especially this, https://github.com/Adi-sdm/device_oppo_RMX1805/commit/6c241b68fe691ad667edfaeb74e06a77436e7b33 which is the only commit by you. Why do you have kernel_brand_codename in there? Just remove it. Your application is badly formatted.

You mentioned you have an issue with permissive SELinux in chat and when everyone asked you

[2021-09-07 05:30] #41 closed, assigned to Maitreya29, achyutbadyal

[2021-09-15 17:14] clawside opened #43 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
https://t.me/YSLNews/969

## Other ROM's you maintain officially or unofficially
AOSPK

## Bugs on unofficial build
None. (The bug in the post was TWRP bug side)
## How long have you been building for?
[code]

## Did you properly read [Device stability requi

[2021-09-15 17:20] clawside commented on #43
oops

[2021-09-15 17:20] #43 closed, assigned to Maitreya29, achyutbadyal

[2021-09-18 00:30] clawside opened #44 "New maintainer for pubg"
## Device you want to apply for
Redmi S2/Y2 (YSL)

## Device tree sources

https://github.com/notreallydust/device_xiaomi_ysl
https://github.com/notreallydust/kernel_xiaomi_ysl
https://github.com/notreallydust/vendor_xiaomi_ysl

## Link to the platform where you have released your unofficial build

https://t.me/YSLNews/969
https://t.me/YSLNews/972

## Other ROM's you maintain officially or unoffic

[2021-09-18 08:33] geek0609 commented on #44
@notreallydust Finally gaming phone

[2021-09-18 08:37] Maitreya29 commented on #44
@notreallydust I thought you maintained ancient too

[2021-09-18 12:47] clawside commented on #44
dropped bhai

[2021-09-18 13:06] clawside commented on #44
sd625 gaming yes

[2021-09-18 16:01] geek0609 commented on #44
@notreallydust 😍PUBG 90fps added?

[2021-09-18 16:29] clawside commented on #44
yes already

[2021-09-19 10:38] geek0609 opened #46 "New maintainer for redmi not 10 (sunny/mojito)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROMs you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/bl

[2021-09-19 13:15] Maitreya29 commented on #46
a c c e p t e d

[2021-09-19 13:15] #46 closed, assigned to Maitreya29, achyutbadyal

[2021-09-19 13:16] Maitreya29 commented on #44
Everything looks good but I have a question

[2021-09-19 13:16] Maitreya29 commented on #44
if you're notreallydust then who's really dust?

[2021-09-19 13:21] geek0609 commented on #44
@realdust

[2021-09-19 14:26] clawside commented on #44
dustxyz

[2021-09-20 05:59] Maitreya29 commented on #44
Looks good, check telegram PMs.

[2021-09-20 05:59] #44 closed, assigned to Maitreya29, achyutbadyal

[2021-09-20 07:54] SadmanSakibAlam opened #47 "New Maintainer for beryllium"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-09-20 08:17] Maitreya29 commented on #47
I can't even see a radiant bringup on your trees, I have no option but to reject without seeing further for obvious reasons.

[2021-09-20 08:17] #47 closed, assigned to Maitreya29, achyutbadyal

[2021-09-22 16:43] lazydev1852 opened #52 "New maintainer for joan (LGE V30 ThinQ)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-09-22 19:20] lazydev1852 opened #53 "New maintainer for joan (LGE V30)"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-09-24 18:55] lazydev1852 commented on #53
Did update by @Maitreya29's guidelines.
Hope to follow up on updates :)

[2021-09-25 06:43] AtomicXZ commented on #53
Looks good, welcome to the team. Maitreya will shortly contact you on TG to add you to team group now.

[2021-09-25 06:43] #53 closed

[2021-09-29 08:59] frostg-012 opened #55 "New maintainer"
## Device you want to apply for
[code]
https://github.com/fr05t77/radiant_device_juice
https://github.com/fr05t77/android_kernel_xiaomi_bengal
https://github.com/fr05t77/prebuilt_vendor_juice
[code]
https://t.me/JuiceIDUpdate/686
[code]
DotOS (Unofficial)
ColtOS (Unofficial)
[code]
Maybe no bugs
[code]
6 Months
[code]
I read everything properly and I violated the Authorship section
[code]
Enforcin

[2021-09-29 09:02] Maitreya29 commented on #55
@fr05t77 Your release needs to be done 2 weeks before release (unless we make an exception for you before your application which we didn't) so I can't consider this for now. I recommend redoing application once you pass that criteria.

[2021-09-29 09:02] #55 closed, assigned to Maitreya29, achyutbadyal

[2021-10-15 11:41] Musical143143 opened #56 "Mi A3"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-10-15 11:44] #56 closed, assigned to Maitreya29, achyutbadyal

[2021-10-15 11:44] Maitreya29 commented on #56
Closed because you didn't even fill the form and Mi A3 already has a maintainer

[2021-10-15 11:47] Musical143143 commented on #56
Ok bro

On Fri, 15 Oct, 2021, 5:14 pm Maitreya Patni, ***@***.***>
wrote:

[2021-10-15 11:47] Musical143143 commented on #56
Ok ok

On Fri, 15 Oct, 2021, 5:17 pm Basavaraj Bhajantri, ***@***.***>
wrote:

[2021-10-15 11:48] Musical143143 commented on #56
Ok bro

[2021-10-15 11:49] clawside commented on #56
@Musical143143 Is it me or did you write the same thing 3 times?

[2021-10-15 11:50] Musical143143 commented on #56
Why bro

[2021-10-15 11:56] ejbtrd commented on #56
@Musical143143 Vro fill form

[2021-10-30 03:22] frostg-012 opened #57 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-10-30 03:22] Maitreya29 commented on #57
Your device tree is not linked, do you mind sending that?

[2021-10-30 03:26] frostg-012 commented on #57
sorry, i have changed it

[2021-10-30 06:33] clawside commented on #57
@fr05t77 tets

[2021-11-14 05:24] #57 closed, assigned to Maitreya29, achyutbadyal

[2021-12-12 10:52] AbhinavNmdo opened #58 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-12-13 03:40] arnavpuranik commented on #58
Hey, so I did check your tree and the thing is you lack contributions. Not just that, the format of the commit is also wrong. Most trees follow this format
device codename: Change they did.
Fix it please.

Not just that, I saw an EvoX branch on your tree, you didn't mention above that you maintain Evo too?

I'd say you should consider re-applying in the future considering all these things.

[2021-12-13 03:42] arnavpuranik commented on #58
@arnavpuranik @Maitreya29 I'll give him time to reply and then close it soon

[2021-12-13 08:22] AbhinavNmdo commented on #58
Ok, I will fix it all and come again...

[2021-12-13 08:22] #58 closed, assigned to Maitreya29, achyutbadyal

[2021-12-29 09:20] ghost opened #59 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2021-12-29 09:31] arnavpuranik commented on #59
Okay so I did check your tree, good job! You're approved 👍

[2021-12-29 09:31] #59 closed, assigned to Maitreya29, achyutbadyal

[2021-12-29 09:34] ghost commented on #59
Ty 👍

[2022-01-01 11:55] veshrao opened #61 "new maintainer for rova"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-01-01 11:56] veshrao commented on #61
taking hindi lessons soon so yeh

[2022-01-01 12:21] arnavpuranik commented on #61
1. First of all you don't even have a radiant bringup? I didn't see a Radiant branch in your tree at all!
2. Not just that, I checked your trees regardless, why [this](https://github.com/veshrao/device_xiaomi_rova/commit/06105badec889d0d04584c40c3518079c0882f56)? I mean, it's an issue with the Gapps itself and should be resolved from their end, which they probably might've till this point. Nuke it

[2022-01-01 12:21] #61 closed, assigned to Maitreya29, arnavpuranik

[2022-01-02 08:49] veshrao opened #62 "new maintainer for rova"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-01-02 08:49] veshrao commented on #62
so i made changes according to what you said in the last issue/form, and i hope youre satisfied/okay with my changes + installed duolingo too

[2022-01-02 10:12] arnavpuranik commented on #62
Okay, inspite of yesterday, your tree still has mistakes
1. [18 authors for libperfmgr introduction](https://github.com/veshrao/device_xiaomi_rova/commit/88c973e8dcf59ea38ecfe974e19867c6a1ed171d)? Really? You literally added every change made in there and squashed everything?
2. [Why'd you move all props into a folder named props](https://github.com/veshrao/device_xiaomi_rova/commit/a9b2c510be1bb4

[2022-01-02 10:12] #62 closed, assigned to Maitreya29, arnavpuranik

[2022-01-22 06:45] Nexus003 opened #63 "New maintainer"
## Device you want to apply for
Your device name and codename
Poco f1 (beryllium)

## Device tree sources
<!
* Must be public on GitHub/GitLab
* Must add kernel and vendor as well
* Authorship should be proper
* Add common trees if applicable

https://github.com/PainKiller3/kernel_xiaomi_sdm845
https://github.com/NEXUS-003/android_device_xiaomi_beryllium
https://github.com/NEXUS-003/vendor_xiaomi-

[2022-01-22 06:52] arnavpuranik commented on #63
You haven't inserted link/post to your unofficial build. Also you have to apply after two weeks after your UNOFFICIAL Release (unless you're given an exception which we haven't) and source literally came last Sunday. I'd say re-apply once two weeks are completed of your unofficial release.

[2022-01-22 07:07] Maitreya29 commented on #63
While Arnav already closed your issue, I decided to check trees and found these issues:

• https://github.com/NEXUS-003/android_device_xiaomi_sdm845-common/commit/7fb53f38951214e64dea5265db10c511c4e96ee7 - Why? That's not a good thing to do at all and must NOT be shipped in builds. Need debugging for bootloop logs? Build eng

•  https://github.com/NEXUS-003/android_device_xiaomi_sdm845-common/comm

[2022-01-22 07:08] Maitreya29 commented on #63
Not to forget your commiting seems weird sometimes you do "tree: content" sometime "tree:content" and sometimes "tree :content" which is off, I'll keep this open for sometime.

[2022-01-22 07:11] Maitreya29 commented on #63
Oh and I just realised you didn't just link your unofficial release but actually nuked the whole segment, I give exceptions for this and the 2 weeks clause to most applicants these days but to just remove the segment isn't good practice. I was thinking of giving the same to you but now that I notice it I'll close this and you can reapply after 2 weeks which should be enough time for you to improve

[2022-01-22 09:43] Nexus003 commented on #63
Thanks , I will work on the issues and reapply again after 2 weeks meanwhile do i have to release build on tg or any other platform

[2022-01-22 10:54] arnavpuranik commented on #63
You should release your build on Telegram in your device community and apply after 2 weeks of releasing

[2022-01-22 10:54] #63 closed, assigned to Maitreya29, arnavpuranik

[2022-02-03 04:55] Prashant-1695 opened #64 "New maintainer"
## Device you want to apply for
[code]
https://github.com/ImPrashantt/android_device_xiaomi_lavender
https://github.com/ImPrashantt/android_vendor_xiaomi_lavender
https://github.com/projects-nexus/android_kernel_xiaomi_lavender-LTO
[code]
https://t.me/RedmiNote7Updates/6594
[code]
PixelExtended Officially
[code]
None
[code]
1 year
[code]
I read everything properly and I violate none of the require

[2022-02-03 05:13] arnavpuranik commented on #64
Okay so initially you messed up the form format.

Regardless I had a look at your trees

1. There's no Radiant branch as well as a Radiant bringup!
2. [This commit](https://github.com/ImPrashantt/android_device_xiaomi_lavender/commit/a09846e247a6ed4a6f684dca6906d65fe83c12f4) is a **KANG** and we're strictly **against** kangs. Original author of the commit is PeterCxy, please give him the authorshi

[2022-02-03 05:13] #64 closed, assigned to Maitreya29, arnavpuranik

[2022-02-03 05:54] Prashant-1695 opened #65 "New maintainer"
## Device you want to apply for
[code]
https://github.com/ImPrashantt/android_device_xiaomi_lavender
https://github.com/projects-nexus/android_kernel_xiaomi_lavender-LTO
https://github.com/ImPrashantt/android_vendor_xiaomi_lavender
[code]
https://t.me/RedmiNote7Updates/6594
[code]
PixelExtended Officially
[code]
None
[code]
1 year
[code]
I read everything properly and I violate none of the require

[2022-02-03 06:02] arnavpuranik commented on #65
Alright, you seem to have fixed all the things, Good Job! You're accepted!

[2022-02-03 06:02] #65 closed, assigned to Maitreya29, arnavpuranik

[2022-02-03 06:02] jashvakharia commented on #65
@arnavpuranik Damn nice

[2022-02-03 06:07] samx312 opened #66 "Avi"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-03 06:08] arnavpuranik commented on #66
You didn't fill a single field in the form, fill the entire form again!

[2022-02-03 06:08] #66 closed, assigned to Maitreya29, arnavpuranik

[2022-02-03 06:08] jash69 commented on #66
@gargavi050 Tf

[2022-02-03 06:08] Maitreya29 commented on #66
@gargavi050 Sheesh 🤙🤙🤙

[2022-02-03 06:12] ghost commented on #66
@gargavi050 He is better than me fr

[2022-02-03 06:13] quxngeh commented on #66
@gargavi050 Bro how to build??? Can tech me sir??? M noob 😔😔😔

[2022-02-03 06:15] ghost commented on #66
Bro ok first of all you have to go and fill blank forum

Build with automatically start this is radiant Jenkins hack 🤩

[2022-02-03 06:17] quxngeh commented on #66
@aScordino Wawllabsjsj sirthenks so mach m going to trai hax now

[2022-02-03 06:17] ghost commented on #66
@quxngeh 🙏🙏🙏🙏🙏

[2022-02-03 06:47] samx312 opened #67 "Avi Garg"
## Device you want to apply for
[code]
https://github.com/gargavi050/device_xiaomi_miatoll
https://github.com/gargavi050/kernel_xiaomi_sm6250
https://github.com/gargavi050/vendor_xiaomi_miatoll
[code]
(https://t.me/portsbynewbie/192)
[code]
 (https://t.me/portsbynewbie/200)
[code]
None
[code]
About 2 Months
[code]
I read everything properly and I violate none of the requirements.
[code]
Enforcing.

[2022-02-03 06:47] ghost commented on #67
@gargavi050 Ah hell naw

[2022-02-03 07:13] arnavpuranik commented on #67
Alright, had a look at your trees
1. The way you commited is **WRONG**. Correct format is
device: Change you did
2. You're [changing copyright headers](https://github.com/gargavi050/device_xiaomi_miatoll/blob/b83f7670861b5e5da93a8c062b6379be8090f7e2/AndroidProducts.mk#L2)? WTF? Why did you change the copyright header for work that Arrow Team did?
3. Why? Just [why are you shipping prebuilt Lawncha

[2022-02-03 07:13] #67 closed, assigned to Maitreya29, arnavpuranik

[2022-02-03 07:20] samx312 commented on #67
i will do all that ok sir no problem

[2022-02-03 07:36] shubhamxdd commented on #65
Perro

[2022-02-05 09:18] resist15 opened #68 "New maintainer : beryllium"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-05 10:00] arnavpuranik commented on #68
Had a look at your trees, good job... You're accepted!

[2022-02-05 10:00] #68 closed, assigned to Maitreya29, arnavpuranik

[2022-02-05 10:09] resist15 commented on #68
thank you : )

[2022-02-05 10:53] aScordino commented on #68
@resist15 🔒 Messaggio per Maitreya, solo lui/lei lo potrà aprire.

[2022-02-05 10:53] quxngeh commented on #68
@aScordino LMAOOO

[2022-02-07 02:40] Krxyzn opened #69 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-07 02:45] clawside commented on #69
@Krxyzn it's me, or you're saying Is booting, but FPC does not work?

[2022-02-07 02:46] Krxyzn commented on #69
everything boots normally and fpc works if the device is not encrypted

[2022-02-07 02:46] clawside commented on #69
@Krxyzn Are you sure you readed the requirements?

[2022-02-07 02:48] Krxyzn commented on #69
Yes

[2022-02-07 02:51] clawside commented on #69
@Krxyzn You need atleast a released build to the public

[2022-02-07 03:13] Maitreya29 commented on #69
You're already maintaining 3 ROMs, and radiant would be the fourth, we recommend maintainers to only do 3 ROMs because anything more will keep them busy, not focused on radiant and they'd probably go for more so that's one tick off, you also have not released build at all which is another thing you're in violation of, closing this issue, I'm sorry.

You don't even have bringup on your trees....

[2022-02-07 03:13] #69 closed, assigned to Maitreya29, arnavpuranik

[2022-02-07 06:43] aScordino commented on #69
@Krxyzn

[2022-02-11 10:41] Keertesh19 opened #70 "New maintainer - avicii"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-11 11:07] arnavpuranik commented on #70
After checking your trees I noticed a lack of changes done by you, you only have 3 commits on top. While we aren't calling you bad, changes done by you or even picked by you go on to show your skills and how good you are at handling the device. We need to test these so that in cases where you have device specific bugs or a scenario you're the only remaining dev for your device, you'd be able to ca

[2022-02-11 11:19] Keertesh19 commented on #70
LoL i have to maintain it for a long time for that then because i guess we dont have a device bug and/or donot need improvements, all i can do now is just update blobs from bi monthly updates and/or implement ot import fancy features. Thats it, nothing much I can do towards fixing bugs and improvements and regarding being able to maintain if i was the only person left. That i guess you also know v

[2022-02-11 11:19] #70 closed, assigned to Maitreya29, arnavpuranik

[2022-02-11 11:20] Keertesh19 commented on #70
Thanks for the review tho 👍

[2022-02-11 12:28] Maitreya29 commented on #70
You may be good, Arnav never doubted that. The issue is your current trees are not in a state that we would normally accept for anyone who tried to apply. We can't do anything sadly. It's like getting a job, every job needs some prior experience even when to get that experience you need to get a job. We can't do anything, that is the only way for us to find out that you're capable.

[2022-02-16 03:39] takumi021 opened #71 "New maintainer"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-16 04:02] jash69 commented on #71
@takumi021 @Mxlfunction

[2022-02-16 09:29] arnavpuranik commented on #71
I had a look at your trees

1. Radiant doesn't have quick tap in it's source, you don't need [this flag](https://github.com/takumi021/device_realme_r5x-radiant/blob/4a16b6608fa4ec5931ef5dbdde679cdd95165bf0/radiant_r5x.mk#L51) in your tree. Also why is [#Maintainer](https://github.com/takumi021/device_realme_r5x-radiant/blob/4a16b6608fa4ec5931ef5dbdde679cdd95165bf0/radiant_r5x.mk#L50) written above

[2022-02-16 10:10] arnavpuranik commented on #71
I had a look at your trees

1. Radiant doesn't have quick tap in it's source, you don't need [this flag](https://github.com/takumi021/device_realme_r5x-radiant/blob/4a16b6608fa4ec5931ef5dbdde679cdd95165bf0/radiant_r5x.mk#L51) in your tree. Also why is [#Maintainer ](https://github.com/takumi021/device_realme_r5x-radiant/blob/4a16b6608fa4ec5931ef5dbdde679cdd95165bf0/radiant_r5x.mk#L50) written abov

[2022-02-16 11:47] #71 closed, assigned to Maitreya29, arnavpuranik

[2022-02-16 13:49] laleeroy opened #72 "New maintainer for alioth"
## Device you want to apply for
[code]

## Device tree sources

[code]

## Link to the platform where you have released your unofficial build
[code]

## Other ROM's you maintain officially or unofficially
[code]

## Bugs on unofficial build
[code]

## How long have you been building for?
[code]

## Did you properly read [Device stability requirements](https://github.com/NezukoOS/official_devices/b

[2022-02-16 16:44] arnavpuranik commented on #72
Had a look at your tree here's what I think

1. Initially, you lack contributions on both, your device as well as your common tree.
2. [This commit ](https://github.com/laleeroy/device_xiaomi_alioth/commit/891bde20ffd50910dd62c11326b30082534b615f) is clearly a kang of [This commit](https://github.com/GtrCraft/device_xiaomi_alioth/commit/3e0f45e4cb34c26519236cb9f1ba16d0704b3036). KANGING is **NOT**

[2022-02-16 16:52] laleeroy commented on #72
Thank you! I will try again later 😄

[2022-02-16 16:52] #72 closed, assigned to Maitreya29, arnavpuranik

[2022-04-22 03:38] takumi021 commented on #71
Achaa lol

[2022-04-22 03:39] takumi021 commented on #71
Trees fixed now @Maitreya29 sir 🥲😘

[2022-04-22 03:40] quxngeh commented on #71
@takumi021 Congratulations

[2022-04-22 03:41] takumi021 commented on #71
Thanks for giving me maintainership

[2022-04-22 04:08] clawside commented on #71
@takumi021 Lmao